.carousel_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    background-color: rgb(35, 35, 31);
}
.carousel {
   position: relative;
    padding: 30px 0;
    height: 480px;

    
}
.carousel_box .carousel img {
    height: 100%;
    object-fit: cover;
}
.carousel_box .carousel button {
    position: absolute;
    top: 50%;
    border: none;
    background-color: rgb(195, 189, 189);
    padding:20px 5px;
    opacity: .5;

}
.carousel_box .carousel button.next{
    right: 0;
}
.carousel_box .carousel button img {
    width: 20px;
}
.text__info_banner {
    width: 300px;
    height: 480px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 5px;
}

.topBanner {
    border:1px solid rgb(207, 202, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #ffffff;
}
.topBanner h3 {
    text-align: center;
    font-size: 14px;
}